@font-face {
  font-family: 'Manrope Regular';
  src: url('@/assets/fonts/manrope-regular.otf');
}

@font-face {
  font-family: 'Manrope Semibold';
  src: url('@/assets/fonts/manrope-semibold.otf');
}

@font-face {
  font-family: 'Manrope Bold';
  src: url('@/assets/fonts/manrope-bold.otf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('@/assets/fonts/poppins-regular.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('@/assets/fonts/poppins-medium.ttf');
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('@/assets/fonts/poppins-semibold.ttf');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('@/assets/fonts/montserrat-bold.ttf');
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('@/assets/fonts/montserrat-semibold.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('@/assets/fonts/montserrat-regular.ttf');
}
