@import './base.css';

#app {
  margin: 0 auto;
}

@font-face {
  font-family: 'Manrope Regular';
  src: url('@/assets/fonts/manrope-regular.otf');
}

@font-face {
  font-family: 'Manrope Semibold';
  src: url('@/assets/fonts/manrope-semibold.otf');
}

@font-face {
  font-family: 'Manrope Bold';
  src: url('@/assets/fonts/manrope-bold.otf');
}
